# Prevent running COPY layer on Dockerfile changes
Dockerfile
.dockerignore
docker

# Skip everything not needed to build NWNX
LICENSE
*.md
.git*
.circleci
.idea/
.vscode/
Binaries/
build-nwnx/
Documentation/
.vs/
out/
CMakeSettings.json
.cache/
Build/
