.idea/
.vscode/
Binaries/
build-nwnx/
build-nwnx-debug/
build/
Documentation/

cmake-build-*/
.env

# Visual Studio
.vs/
out/
CMakeSettings.json
CMakePresets.json
.cache/
Build/

# SWIG
Plugins/SWIG/SWIG_*/NWNXLib.i
Plugins/SWIG/SWIG_DotNET/*.cs
Plugins/SWIG/NWNXLib.i
Plugins/SWIG/SWIG_DotNETInterop.cpp
